In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("hive-queries") \
    .master("spark://spark-master:7077")\
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .enableHiveSupport() \
    .getOrCreate()

# spark.stop()

In [21]:
#Use WES Database
spark.sql("USE wes")
current_db = spark.sql("SELECT current_database()").collect()[0][0]
print(current_db)

wes

In [8]:
# from pyspark.sql import SparkSession, Window
# from pyspark.sql.functions import last, first
# import pyspark.sql.functions as F
# # Spark session & context
# spark = (
#     SparkSession.builder.appName("world-energy-stats")
#     .master("spark://spark-master:7077")
#     .config("hive.metastore.uris", "thrift://hive-metastore:9083")
#     .enableHiveSupport()
#     .getOrCreate()
# )

# # Read the dataset from HDFS
# df = (
#     spark.read.format("csv")
#     .option("header", "true")
#     .option("inferSchema", "true")
#     .load("hdfs://namenode:9000/energy-data/owid-energy-data.csv")
# )


# df = df.filter(df["iso_code"].isNotNull())
# df = df[df["year"] >= 1990]

# # Dropping irrelevant columns
# cols_to_drop = [
#     col
#     for col in df.columns
#     if "_per_gdp"
#     if "_per_capita" in col or "_change_pct" in col or "_change_twh" in col
# ]
# df = df.drop(*cols_to_drop)

# # Forward fill missing data
# temp_column = [column for column in df.columns if "year" not in column]
# temp_column = [column for column in temp_column if "country" not in column]
# temp_column

# # Define the windows for forward fill and backward fill
# ffill_window = "(partition by country order by year rows between unbounded preceding and current row)"
# # bfill_window = "(partition by country order by year rows between current row and unbounded following)"

# for col in temp_column:
#     df = df.withColumn(
#         col, F.expr(f"case when isnan({col}) then null else {col} end")
#     ).withColumn(col, F.expr(f"coalesce({col}, last({col}, true) over {ffill_window})"))
#     # .withColumn(col, F.expr(f"coalesce({col}, first({col}, true) over {bfill_window})")))

    
df.toPandas().describe()

,year,population,gdp,biofuel_consumption,biofuel_electricity,biofuel_share_elec,biofuel_share_energy,carbon_intensity_elec,coal_consumption,coal_electricity,...,renewables_share_elec,renewables_share_energy,solar_consumption,solar_electricity,solar_share_elec,solar_share_energy,wind_consumption,wind_electricity,wind_share_elec,wind_share_energy
count,7043.000000,7.011000e+03,5.351000e+03,1567.000000,5057.000000,5034.000000,1530.000000,4707.000000,2540.000000,5300.000000,...,5527.000000,2366.000000,2607.000000,5616.000000,5527.000000,2366.000000,2607.000000,5616.000000,5527.000000,2366.000000
mean,2005.850206,3.114626e+07,4.843148e+11,10.335646,1.708074,2.026834,0.467628,442.166952,455.610511,45.172138,...,30.312188,11.778030,6.152919,1.076653,0.659706,0.267962,15.351554,2.691295,1.411243,0.893753
std,9.361943,1.248185e+08,1.607484e+12,41.977236,7.712350,5.575945,0.878323,221.604080,2019.973032,279.866109,...,32.292499,13.983704,42.185779,10.929859,2.238201,0.753777,87.692953,23.000870,4.852819,2.350120
min,1990.000000,1.833000e+03,2.571720e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1998.000000,6.612955e+05,1.928354e+10,0.000000,0.000000,0.000000,0.000000,270.267000,7.659750,0.000000,...,1.422000,2.034750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2006.000000,5.458688e+06,6.401920e+10,0.487000,0.000000,0.000000,0.072000,489.510000,40.031000,0.000000,...,17.029000,6.440000,0.004000,0.000000,0.000000,0.001000,0.032000,0.000000,0.000000,0.012000
75%,2014.000000,1.972479e+07,3.009124e+11,3.931000,0.340000,1.402000,0.697750,634.597000,182.572500,6.029500,...,54.375000,17.304000,0.282000,0.010000,0.073000,0.056000,2.693000,0.050000,0.156500,0.514250
max,2022.000000,1.425894e+09,1.815162e+13,433.866000,172.130000,71.429000,7.486000,1000.000000,24559.486000,5421.190000,...,100.000000,74.302000,1115.113000,420.350000,40.000000,7.586000,1988.450000,800.520000,56.840000,26.157000

In [3]:
from utils import run_spark_sql

In [11]:
run_spark_sql("1_energy_overview.sql","1_energy_overview.csv")

+----+----------------+
|year|PRIM_ENERGY_CONS|
+----+----------------+
|1990|        94762.63|
|1991|        95531.11|
|1992|        96604.67|
|1993|        97426.49|
|1994|        98706.89|
|1995|       101034.98|
|1996|       103924.71|
|1997|       104994.93|
|1998|       105593.14|
|1999|       107513.06|
|2000|       110397.99|
|2001|       111476.55|
|2002|       113880.28|
|2003|        117901.2|
|2004|       123710.62|
|2005|       127836.38|
|2006|       131628.22|
|2007|       135648.38|
|2008|       137263.93|
|2009|       134974.75|
+----+----------------+
only showing top 20 rows

In [20]:
run_spark_sql("2_energy_consumption_top15.sql","2_energy_consumption_top15.csv")

+--------------+--------+--------------------------+----+
|       country|iso_code|primary_energy_consumption|RANK|
+--------------+--------+--------------------------+----+
|         China|     CHN|                  43873.07|   1|
| United States|     USA|                 25945.025|   2|
|         India|     IND|                  9584.976|   3|
|        Russia|     RUS|                   8745.49|   4|
|         Japan|     JPN|                  4983.889|   5|
|        Canada|     CAN|                  3843.694|   6|
|        Brazil|     BRA|                   3570.67|   7|
|       Germany|     DEU|                  3549.456|   8|
|   South Korea|     KOR|                  3489.739|   9|
|          Iran|     IRN|                  3360.935|  10|
|  Saudi Arabia|     SAU|                  2987.546|  11|
|        France|     FRA|                   2611.23|  12|
|        Mexico|     MEX|                  2219.266|  13|
|     Indonesia|     IDN|                  2154.942|  14|
|United Kingdom|     GBR|                  1999.378|  15|
|        Turkey|     TUR|                  1934.336|  16|
|         Italy|     ITA|                  1760.804|  17|
|     Australia|     AUS|                   1592.59|  18|
|         Spain|     ESP|                  1542.929|  19|
|      Thailand|     THA|                  1390.897|  20|
+--------------+--------+--------------------------+----+
only showing top 20 rows

In [18]:
run_spark_sql("2_energy_consumption_pct_top15.sql", "2_energy_consumption_pct_top15.csv")

+------------------------------------------------------------------+
|round(((sum(primary_energy_consumption) / total_energy) * 100), 2)|
+------------------------------------------------------------------+
|                                                             74.17|
+------------------------------------------------------------------+

In [17]:
run_spark_sql("2_energy_consumption_pct_rem.sql", "2_energy_consumption_pct_rem.csv")

+--------+
|count(1)|
+--------+
|     129|
+--------+

In [31]:
run_spark_sql("3_energy_breakdown_top15.sql", "3_energy_breakdown_top15.csv")

+----+--------------------+---------------------+--------------------+------------------------+----------------------+------------------------+--------------------+----------------------+---------------------+
|year|perc_ren_consumption|perc_coal_consumption|perc_gas_consumption|perc_biofuel_consumption|perc_hydro_consumption|perc_nuclear_consumption|perc_oil_consumption|perc_solar_consumption|perc_wind_consumption|
+----+--------------------+---------------------+--------------------+------------------------+----------------------+------------------------+--------------------+----------------------+---------------------+
|1990|   6.603875227748031|   28.674992256085947|   19.93281372952673|     0.13608215427031167|     6.048725873619321|       6.778699498617638|   38.41397725982804|  0.001674441043321...| 0.013034787008694346|
|1991|   6.666393152711433|   28.233939151932958|  20.343556732027615|     0.13990238810267616|     6.090433489009183|      7.0374913576502065|   38.13846895774595|  0.002125410789325728| 0.014082512742096879|
|1992|    6.58588238745342|   27.969885742676116|  20.377280228998504|     0.13991148887948443|     5.983258890352543|       7.091498890922889|  38.421153727706404|  0.001869986172620...| 0.015141044291440621|
|1993|   6.861537434234465|   28.078568963578636|  20.414621977838706|     0.14974463265445134|     6.239909665882823|      7.2983400448883735|   37.79862233900456|  0.002193163241563...| 0.017999212910889746|
|1994|     6.7644756362384|    28.08652435259522|   20.34555887353805|     0.16118978495199618|     6.115750164930805|       7.315675265174555|   37.95044503117999|  0.002309796478872...| 0.022546731150516145|
|1995|   7.105977275830612|    27.80301246135432|  20.528915928445837|     0.16685163885245413|     6.440540254439887|      7.5375373447000875|   37.49497956465987|  0.002383733833975...|  0.02577907371355653|
|1996|   7.010923858428157|    27.90858917551845|  20.680436016819502|     0.15524941713613044|    6.3571844642983875|       7.523844333064238|   37.34492906143548|   0.00252833418042182| 0.027239197547410783|
|1997|   7.098960958260283|   27.605454084378355|   20.35665005592656|     0.15911142403754464|     6.416533415961324|       7.412867405367092|   38.01413925044025|  0.002678684047891927|  0.03256567984097983|
|1998|   7.035872711811486|   27.453077472753947|  20.571207216057157|     0.16284040952129844|     6.335248574431689|       7.513180894013933|  37.922293548730444|  0.002869569572827583|  0.03928231491869361|
|1999|   6.999603325212844|   27.134210589848617|  20.569303512088112|     0.16211455403876512|     6.281345841525546|      7.7082429485099215|  38.091039139644174|  0.003119870091322...|  0.05062354425355081|
|2000|   6.840315067622931|    27.41164799626271|   20.83556146353845|     0.15337807822649024|     6.117937326787827|       7.716441730186105|   37.69108949680525|  0.003479832857277804|  0.07046407533589212|
|2001|   6.554767513795308|   27.717286419744635|  20.742390068326078|      0.1509582331240256|     5.800575288498119|       7.825712561134401|  37.677149710225976|  0.004671481801482...|   0.0812562371452907|
|2002|   6.699354507750297|    28.34950464720046|   20.90586522658781|      0.1801816418943622|     5.857684909030487|       7.695982981573668|  36.891085262247856|  0.005776159077862156|  0.11391917238748886|
|2003|    6.52107599734234|   29.925487711443534|  20.451185244368116|      0.1953224246972347|     5.642258214120157|       7.173412291816914|  36.476737388534055|  0.006920274315299656|  0.12867645070470018|
|2004|  6.7352964592653874|   30.692127168294363|   19.95686411930842|     0.21961720500090848|    5.7958685725505585|       7.091251565796029|   36.06651647563054|  0.008683733999742572|   0.1690711594194315|
|2005|   6.774065582133539|    32.41763668424186|  19.503864081488953|     0.24768459816818544|     5.749224502680226|       6.859225342174553|   35.01891651110166|  0.012004137031532806|  0.19144414311301883|
|2006|    6.98494112279342|    33.19802955790005|  19.404476065221765|      0.2970114073497588|     5.837553647864502|        6.71237471593681|   34.28531303057856|  0.015856902239977724|  0.24938467290857763|
|2007|   7.082722781725499|   34.187731980865685|  19.648529444669503|      0.3733158136181094|     5.754331235824693|       6.303785204677465|   33.39701207734013|   0.01984397215010538|  0.31545027085430327|
|2008|  7.6780176635972515|   34.259807737016146|  19.898704493361564|     0.48944856542447135|     6.095212296491372|       6.169212209917827|   32.64418669990399|    0.0266175148334205|  0.41681048305120194|
|2009|   7.930043903005942|   34.528691144657344|   19.81373792970688|      0.5478505726119515|     6.097211178183882|        6.16367849798373|   32.27246404621224|   0.03752010241964471|   0.5388465282243429|
+----+--------------------+---------------------+--------------------+------------------------+----------------------+------------------------+--------------------+----------------------+---------------------+
only showing top 20 rows

In [7]:
run_spark_sql("4_electricity_gen_top15.sql", "4_electricity_gen_top15.csv")

+--------------+----+------------------------+------------------+------------------------+--------------------+
|       country|year|total_fossil_electricity| total_consumption|non_renewable_percentage|renewable_percentage|
+--------------+----+------------------------+------------------+------------------------+--------------------+
|         China|2021|                 5623.99|          8242.446|                   68.23|               31.77|
| United States|2021|                 2512.39|           3446.46|                    72.9|                27.1|
|         India|2021|                 1337.63|1706.5900000000001|                   78.38|               21.62|
|         Japan|2021|                  680.58|            937.24|                   72.62|               27.38|
|        Russia|2021|                   666.3| 888.8499999999999|                   74.96|               25.04|
|        Brazil|2021|                  139.21|            705.48|                   19.73|               80.27|
|       Germany|2021|                  281.42|            559.37|                   50.31|               49.69|
|        Canada|2021|                  111.88| 547.8199999999999|                   20.42|               79.58|
|   South Korea|2021|                  392.25|            453.57|                   86.48|               13.52|
|  Saudi Arabia|2021|                  355.79|            356.62|                   99.77|                0.23|
|          Iran|2021|                  337.61|           354.322|                   95.28|                4.72|
|     Indonesia|2021|                  253.14|            340.25|                    74.4|                25.6|
|        Mexico|2021|                  244.87|            336.57|                   72.75|               27.25|
|United Kingdom|2021|                  138.08|300.16200000000003|                    46.0|                54.0|
|        France|2021|                   48.66|             181.2|                   26.85|               73.15|
+--------------+----+------------------------+------------------+------------------------+--------------------+

In [18]:
run_spark_sql("4_electricity_share_top15.sql", "4_electricity_share_top15.csv")

+--------------+----+-----------------+---------------------+------------------+----------------------+---------+--------------------+
|       country|year|fossil_share_elec|renewables_share_elec|electricity_demand|electricity_generation|max_share|      max_share_name|
+--------------+----+-----------------+---------------------+------------------+----------------------+---------+--------------------+
|         China|2021|           66.289|               28.908|           8466.32|               8484.02|   62.932|     coal_share_elec|
| United States|2021|           60.487|               20.743|           4192.93|               4153.62|   39.513|low_carbon_share_...|
|         India|2021|           78.053|               19.384|           1711.87|               1713.75|   74.173|     coal_share_elec|
|        Russia|2021|           60.008|               19.959|           1092.69|               1110.36|    41.99|      gas_share_elec|
|         Japan|2021|           71.002|               22.611|            958.53|                958.53|   35.119|      gas_share_elec|
|        Brazil|2021|            21.01|               76.771|            685.68|                662.58|    78.99|low_carbon_share_...|
|        Canada|2021|           17.874|                68.17|            587.88|                625.95|   82.126|low_carbon_share_...|
|   South Korea|2021|            66.65|                7.774|            588.52|                588.52|   35.715|     coal_share_elec|
|       Germany|2021|           48.408|               39.701|            562.77|                581.35|   51.592|low_carbon_share_...|
|        France|2021|            8.841|               22.232|            505.49|                550.38|   91.159|low_carbon_share_...|
|          Iran|2021|           94.347|                4.664|            354.21|                357.84|   80.564|      gas_share_elec|
|  Saudi Arabia|2021|           99.767|                0.233|            356.32|                356.62|   60.549|      gas_share_elec|
|        Mexico|2021|           72.673|               23.935|            339.37|                336.95|   59.181|      gas_share_elec|
|     Indonesia|2021|           81.827|               18.173|            310.33|                309.36|   61.404|     coal_share_elec|
|United Kingdom|2021|           44.954|               39.784|            331.25|                307.16|   55.046|low_carbon_share_...|
+--------------+----+-----------------+---------------------+------------------+----------------------+---------+--------------------+

In [16]:
# Assuming 'input_year' is the variable that stores the user input for the year
input_year = 2021  # You can replace this with the actual input from the user

# Using the provided syntax
columnNames = spark.sql("SELECT * FROM combined_energy_data").columns

# Building the query string
share_elec_columns_query = f"""
    SELECT
      country,
      electricity_generation,
      year,
      fossil_share_elec,
      renewables_share_elec
    FROM
      combined_energy_data
    WHERE
      year = {input_year}
    ORDER BY
      renewables_share_elec DESC,electricity_generation DESC ,renewables_share_elec  DESC
"""

# Running the query and displaying the results
share_elec_columns_data = spark.sql(share_elec_columns_query)
share_elec_columns_data.show()

+--------------------+----------------------+----+-----------------+---------------------+
|             country|electricity_generation|year|fossil_share_elec|renewables_share_elec|
+--------------------+----------------------+----+-----------------+---------------------+
|             Iceland|                 19.26|2021|              0.0|                100.0|
|              Bhutan|                   9.0|2021|              0.0|                100.0|
|             Albania|                  8.96|2021|              0.0|                100.0|
|               Nepal|                  6.12|2021|              0.0|                100.0|
|             Lesotho|                   0.5|2021|              0.0|                100.0|
|Central African R...|                  0.15|2021|              0.0|                100.0|
|            Ethiopia|                 14.69|2021|            0.068|               99.932|
|            Paraguay|                 40.02|2021|            0.175|               99.825|
|Democratic Republ...|                 11.04|2021|            0.272|               99.728|
|              Norway|                157.17|2021|            0.687|               99.313|
|          Costa Rica|                 12.71|2021|            1.259|               98.741|
|              Uganda|                   4.4|2021|            2.955|               97.045|
|             Namibia|                  1.57|2021|            4.459|               95.541|
|            Eswatini|                  0.74|2021|            5.405|               94.595|
|              Zambia|                 17.71|2021|            7.792|               92.208|
|               Kenya|                 11.83|2021|            8.199|               91.801|
|          Tajikistan|                 19.73|2021|            8.768|               91.232|
|        Sierra Leone|                  0.21|2021|            9.524|               90.476|
|          Kyrgyzstan|                 14.46|2021|           10.097|               89.903|
|              Malawi|                  1.42|2021|           15.493|               84.507|
+--------------------+----------------------+----+-----------------+---------------------+
only showing top 20 rows

In [26]:
run_spark_sql("5_population_correlation.sql", "5_population_correlation.csv")

+--------------+----------+------------------+--------------------+
|       country|population|    gdp_per_capita|   energy_per_capita|
+--------------+----------+------------------+--------------------+
|        Brazil| 214326224| 13835.92472424653|1.665997717572815...|
|        Canada|  38155012|43753.138975713075|1.007389016153369...|
|         China|1425893504|  12729.9971308264|3.076882661778365E-5|
|        France|  64531448|40006.444668280186|4.046445695748218...|
|       Germany|  83408560| 46589.47851760059|4.255505669921648...|
|         India|1407563904| 6277.340219829905|6.809620488818673E-6|
|     Indonesia| 273753184|11234.412186767478| 7.87184268877764E-6|
|          Iran|  87923432|15911.525649089766|3.822570301850819...|
|         Japan| 124612528| 39057.15316816299|3.999508781332163E-5|
|        Mexico| 126705136| 15836.76709957519|1.751520159372229...|
|        Russia| 145102752|24902.425418147825|6.027101401908628E-5|
|  Saudi Arabia|  35950396| 46657.02729994963|8.310189406536718E-5|
|   South Korea|  51830136| 37784.81505261727|6.733030760328316E-5|
|      Tanzania|  63588332|2548.4629098306905|9.073991750562038E-7|
|United Kingdom|  67281040| 37755.21640497828|2.971681174964001...|
| United States| 336997632| 53830.18779896946|7.698874572507383E-5|
+--------------+----------+------------------+--------------------+